(safe_access_log) {
    log {
        output stdout
        format filter {
            request>uri regexp "(/download/)[^/?]+|\\?.*$" "${1}[redacted]"
            request>headers>Referer delete
        }
    }
}

repo.jimwashkau.com {
    import safe_access_log
    encode zstd gzip
    reverse_proxy store:3000
}

http://repo.jimwashkau.com {
    import safe_access_log
    redir https://repo.jimwashkau.com{uri} permanent
}
